# Copyright (c) 2022, Silicon Labs
# SPDX-License-Identifier: Apache-2.0

mainmenu "Si7210: Magnetic Threshold Configuration"

config SI7210_MAGNETIC_THRESHOLD
	int "Si7210 Magnetic Threshold"
	default 10
	help
		This configuration can be used to configure the magnetic threshold.

source "Kconfig.zephyr"
