mainmenu "Bluetooth: Throughput"


config THROUGHPUT_UI_LOG_ENABLE
   bool "Enable logging"
   default y
   help
     Enables UI logging.

config THROUGHPUT_UI_LOG_REFRESH_ALL
   bool "Print entire display"
   default y
   help
     Enables printing all rows (entire display) on update method. By disabling this, rows are printed on parameter update.

config THROUGHPUT_UI_LOG_BOX_ENABLE
   bool "Draw box"
   default y
   help
     Enables drawing a box around the display area.

source "Kconfig.zephyr"