&sensor_enable {
	enable-gpios = <&gpioc GECKO_PIN(9) GPIO_ACTIVE_HIGH>;
	startup-delay-us = <100000>;
};

&i2c0 {
	si7210: si7210@30 {
		compatible = "silabs,si7210";
		status = "okay";
		reg = <0x30>;
	};
};
