# Copyright (c) 2022, Silicon Labs
# SPDX-License-Identifier: Apache-2.0

config DT_HAS_SILABS_SI7210_ENABLED 
	bool "Use the T/RH compensation feature of the SGP40"
	default y

config LOG 
	bool "Use the T/RH compensation feature of the SGP40"
	default y

source "Kconfig.zephyr"