/*
 * Copyright (c) 2019 Callender-Consulting, LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&usart0 {
	sh1106: sh1106@0 {
		status = "okay";
		compatible = "sinowealth,sh1106";
		reg = <0>;
		spi-max-frequency = <8000000>;
		width = <96>;
		height = <40>;
		segment-offset = <0x20>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <38>;
		segment-remap;
		com-invdir;
		prechargep = <0x25>;
		data_cmd-gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;
	};

	cs-gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
	mx25r80: mx25r8035f@0 {
		status = "disabled";
	};
};
