&i2c0 {
	sh1106:sh1106@3d {
		status = "okay";
		compatible = "sinowealth,sh1106";
		reg = <0x3d>;
		width = <64>;
		height = <48>;
		segment-offset = <0x20>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <47>;
		segment-remap;
		com-invdir;
		prechargep = <0xf1>;
	};

	si7210@30 {
		compatible = "silabs,si7210";
		status = "okay";
		reg = <0x30>;
	};
};

&sensor_enable {
	startup-delay-us = <100000>;
};
