&i2c0 {
	ssd1306:ssd1306@3d {
		status = "okay";
		compatible = "solomon,ssd1306fb";
		reg = <0x3d>;
		width = <64>;
		height = <48>;
		segment-offset = <0x20>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <47>;
		segment-remap;
		inversion-on;
		com-invdir;
		prechargep = <0xf1>;
	};
};
