# Copyright (c) 2025 Silicon Laboratories Inc. www.silabs.com
# SPDX-License-Identifier: Apache-2.0

mainmenu "Si7210: Magnetic Threshold Configuration"

config SI7210_MAGNETIC_THRESHOLD
	int "Si7210 Magnetic threshold"
	default 20
	help
		This configuration can be used for configure magnetic threshold.

source "Kconfig.zephyr"
